.action-button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  font-family: "Karla";
  font-size: 1.5rem;
}

.action-button:hover {
  background-color: #495e57;
  color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-color: #edefee;
  transition: 0.2s;
}

.spacial-card{
    width: 25rem;
    height: 35rem;
    background-color: #FFF;
    border-radius: 1rem;
    margin: 1rem;
    font-family: "Karla";
    font-size: 1.5rem;
    
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
}

.special-card-content{
    margin: 0.5rem 2rem 1rem 2rem;
}

.spacial-card > img{
    width: 25rem;
    height:15rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}